<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
  </head>
  <body>
    Hello,<br>
    <p>
      Thank you for joining Blocipedia! I created this site as a resource for all things Bloc related.
    </p>
    <p>
      Well thanks again for joining, and I look forward to hearing from you and serving you as best I can.
    <small>
    By: Liane
    </small>
    <p>
      <%= link_to "Visit Blocipedia", root_path %>
    </p>
  </body>
</html>
