<div class="row">
    <div class="jumbotron home">
      <h1>Blocipedia</h1>
      <p>Blocipedia was created to help the common person find trustworthy advice on any topic pertaining to bloc. We hope that this platform will serve as a reliable and safe resource to help you answer all your questions about the Bloc program!</p>
</div>
