<div class="container">
  <body class="home">
    <div class="jumbotron">
      <h1>Welcome to Blocipedia</h1>
      <p class="lead">Have questions about lifes or have advice you can share? Come in and join our community!</p>
      <%= link_to "Sign up for free!", new_user_registration_path, :class => 'btn btn-lg btn-success'  %>
    </div>
  </body>
</div>
