<h1>Edit Blocipedia Wiki</h1><br>

<div class="row">
  <div class="col-md-4">
    <h4>Please remember the guidelines below as you update your wiki.</h4><br>
    <h4>Wiki Guidelines</h4>
    <ul>
      <li>All wiki submissions are subject to approval by the moderator.</li>
      <li>Offensive language will not be tolerated. We appreciate the passion...but keep it G rated!</li>
      <li>Be helpful and encouraging. This is a place where people come for answers and encouragement.</li>
      <li>Ask yourself "What advice do I wish I had and how would I have wanted it communicated to me?"</li>
      <li>Private wikis can only be seen by you!</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: { wiki: @wiki } %>
    <% if (current_user.admin? || current_user.premium?) && @wiki.private? %>
      <%= render partial: 'collaborators/form', locals: { wiki: @wiki } %>
      <%= render partial: 'collaborators/show' %>
    <% end %>
  </div>
